In this class, you'll learn all about data types, and missing values in pandas.<br>
In this lecture, we include:
1. Dtypes
2. Missing Values
_____

For this lecture too, we will be using the **winemag-data-130k-v2.csv**. To use it, let's first import it:

In [ ]:
import pandas as pd
reviews = pd.read_csv("Datasets/winemag-data-130k-v2.csv", index_col=0)

____

# Dtypes

The data type for a column in a DataFrame or a Series is known as the dtype.

You can use the `dtype` property to grab the type of a specific column.

In [ ]:
#For example, We can get the dtype of the price column in the reviews DataFrame:
reviews.price.dtype

<br>

The `dtypes` property returns the `dtype` of every column in the DataFrame:

In [ ]:
reviews.dtypes

**Note:** One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the object type.

<br>

It's possible to convert a column of one type into another wherever such a conversion makes sense by using the `astype()` function.

In [ ]:
#For example, we may transform the points column from its existing int64 data type into a float64 data type:
reviews.points.astype('float64')

<br>

A DataFrame or Series index has its own dtype, too:

In [ ]:
reviews.index.dtype

____

# Missing Values

Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

<br>

Pandas provides some methods specific to missing data. To select NaN entries you can use `pd.isnull()` (or its companion `pd.notnull()`). This is meant to be used thusly:

In [ ]:
reviews[pd.isnull(reviews.country)]

<br>

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: `fillna()`.<br>
`fillna()` provides a few different strategies for mitigating such data.

In [ ]:
#For example, we can simply replace each NaN with an "Unknown":
reviews.region_2.fillna('Unknown')

<br> 
Alternatively, we may have a non-null value that we would like to replace.

For example, if we want to change reviewer Kerin O'Keefe's Twitter handle from @kerinokeefe to @kerino - One way to reflect this in the dataset is using the `replace()` method:

In [ ]:
reviews.taster_twitter_handle.replace('@kerinokeefe', '@kerino')